In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("SBIN_Data.csv")

In [3]:
df

            Date    Open    High     Low   Close  Volume      Time
0     01-01-2024  642.20  642.70  641.00  641.95   89481  09:15:00
1     01-01-2024  641.95  642.85  641.95  642.45   48965  09:16:00
2     01-01-2024  642.70  644.00  642.70  643.50   65729  09:17:00
3     01-01-2024  643.90  644.55  643.30  643.40   47909  09:18:00
4     01-01-2024  643.70  644.10  643.45  643.75   27645  09:19:00
...          ...     ...     ...     ...     ...     ...       ...
8245  31-01-2024  642.90  642.90  642.50  642.80  161605  15:25:00
8246  31-01-2024  642.90  642.95  642.50  642.90  143774  15:26:00
8247  31-01-2024  642.95  643.05  642.45  642.50  166278  15:27:00
8248  31-01-2024  642.50  642.65  641.40  641.70  138018  15:28:00
8249  31-01-2024  641.70  641.80  641.00  641.55   54342  15:29:00

[8250 rows x 7 columns]

In [4]:
df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Time      0
dtype: int64

In [5]:
df['Time'] = pd.to_datetime(df['Time'])

In [6]:
grouped = df.groupby(df['Time'].dt.date)

In [7]:
def calculate_rank(group):
    # Calculate the rank of volume for each time
    group['rank'] = group['Volume'].rank(ascending=False)
    return group

In [8]:
ranked_df = grouped.apply(calculate_rank)

C:\Users\ashup\AppData\Local\Temp\ipykernel_20344\3539868079.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  ranked_df = grouped.apply(calculate_rank)